/* You can add global styles to this file, and also import other style files */
body {
    background-color: #330033;
    background-image: url("./assets/5026563.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }