<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div align="center" >
        <div class="row col-10">
            <div class="Text col-6">
                <h1>Daily Wellness</h1>
                <br>
                <p> Daily Wellness is an application that focuses on providing tools to practice, organize, learn, and find wellness. 
                    The goal is to revolutionize the way we keep up with maintaining our Physical, Mental, and Spiritual wellness. 
                    Due to new and modern issues of the latest lockdowns, isolations and social distancing, 
                    people are more prone to unhealthy habits, and routines. </p>
                <p> Wellness is a fundamental part of every human beings life. 
                    It is an active pursuit of activities, choices and lifestyles that lead to a state of holistic health. </p>
                <p>An easy and user-friendly app is a beneficial virtual solution for people who want to help, motivate, and grow themselves. 
                    Using technologies like VR and Data Analytics, monitoring User health data and suggesting user routines are a few functionalities/ features that will benefit the user from this application.  </p>
            </div>
            
            <div align="center" class="Text2 col-6">
    
                <img height="80%"
                    src="https://firebasestorage.googleapis.com/v0/b/substance-free.appspot.com/o/Daily%20Wellness%20logo.jpeg?alt=media&token=6cba4f35-bc15-4701-9546-841c41245124"
                    class="d-block w-75" alt="...">
                <br>
                <p>
                    © Developers: Tanishq Korada, Navya Vohra, Tommy Czubat.
                </p>

                <p>All rights reserved.</p>
            </div>
    
        </div>
    </div>
</body>

</html>